body {
  margin: 0 auto;
  width: 87%;
}

table.table-bordered th,
td {
  border: 1px solid silver;
  padding: 4px;
}

table.table-bordered {
  border-collapse: collapse;
}

@media screen and (min-width: 750px) {
  body {
    width: 80%
  }
}

@media screen and (min-width: 1000px) {
  body {
    width: 70%;
  }
}
